<h1> Welcome to the Career Path App!</h1>
<strong> You are in highschool, you get to choose your path! </strong>

<form method= "POST" action="/">
<select name="@choice">
	<option> <%= @choice_1 %> </option>
	<option> <%= @choice_2 %> </option>
	<option> <%= @choice_3 %> </option>
</select>
<br><br>
<input type="submit">
</form>
