<h1> <%= @title %> </h1>

<form method= "POST" action="/">
<select name="@choice">
	<option> <%= @choice_1 %> </option>
	<option> <%= @choice_2 %> </option>
	<option> <%= @choice_3 %> </option>

</select>
<br><br>
<input type="submit">
</form>
